
language: objective-c
osx_image: xcode14.2
xcode_workspace: SmartcarAuth.xcworkspace
xcode_scheme: SmartcarAuth

before_install:

  - gem install xcov
  - gem install cocoapods
  - pod install

script:
  - pod lib lint --verbose --allow-warnings
  - xcodebuild -workspace SmartcarAuth.xcworkspace -scheme SmartcarAuth -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
  - xcodebuild -workspace SmartcarAuth.xcworkspace -scheme SmartcarAuth -sdk iphonesimulator -destination 'platform=iOS Simulator,id=EBFABEDC-FB85-45BE-BC9F-8C6D6A1773ED,OS=16.0' build test
  # - xcov -w SmartcarAuth.xcworkspace -s SmartcarAuth -m 75 --only_project_targets

  # create tag
  - git config --global user.email "ci@smartcar.com"
  - git config --global user.name "Travis CI User"
  - export pod_spec_tag=$(cat SmartcarAuth.podspec | grep '^\s*s.version' | sed "s/[[:blank:]]*s.version[[:blank:]]*=[[:blank:]]*'\(.*\)'/\1/g")
  - if [ "$TRAVIS_BRANCH" = "master" ]; then git tag -a v$pod_spec_tag -m "Travis Generated Tag"; fi

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  - provider: script
    skip_cleanup: true
    script: echo -e "machine github.com\n  login $GH_TOKEN" >> ~/.netrc && git push origin v$pod_spec_tag
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: pod trunk push SmartcarAuth.podspec --allow-warnings
    on:
      branch: master
      
  dpl_version: 1.10.16